/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* dimensions */
    --padding: 1em;
    --pad-top: 1em;

    --margin-top: 1em;

    /* colors */
    --primary-col: #0084fd;
    --primary-col-light: #b5ddff;
    --secondary-col: #9792e4;
    --secondary-col-light #d5d4f4;


}

/* COMMON */
html{
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}

img{
    max-width: 100%;
}

/* utilities */
.flex{
    display: flex;
}






/* header */
.header-container{
    background-color: var(--primary-col);
    color: white;
}

.header-wrapper{
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);

}

header nav{
    display: none;
}



/* first section */
.first-section{
    padding: var(--padding);
}

.col{
    margin-top: var(--margin-top);
}

.card{
    background-color: var(--primary-col-light);    
}







/* MEDIA QUERIES */

    /* tablet 768px*/
@media screen and (min-width: 768px){

    /* common */

    /* layout */
    .wrapper .row{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .wrapper .col{
        width: calc(100% / 3 - 1rem);
    }

    .wrapper .col:first-child{
        width: calc(100% / 3 * 2 - 1rem);
    }

}


    /* desktop 992*/
@media screen and (min-width: 992px) {
    /* common */
    header .menu i{
        display: none;
    }

    header nav{
        display: block;
    }

    /* layout */
    .header-wrapper{
        width: 70%;
        margin: 0 auto;
    }



}